<div class="container mt-5">
  <h2 style="text-align: center;">Productos destacados</h2>
  <div class="row mt-5">
    <div class="col-lg-3 col-md-6" *ngFor="let product of featuredProducts">
      <div class="card">
        <img src="{{product.img}}" class="card-img-top" alt="{{product.id_producto}}">
        <div class="card-body">
          <h6 class="card-title">{{product.nombre}}</h6>
          <p class="card-text"><strong>{{product.precio}}, </strong> <strong>{{product.descuento}}</strong></p>
          <a href="/producto/detalles/{{product.id_producto}}" class="btn btn-success">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <h2 style="text-align: center;">Categorias</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4" *ngFor="let category of categories">
        <a href="producto/categoria/{{category}}">
          <div class="card categories">
            <div class="card-body">
              <h5 class="card-title">{{ category }}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

