<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Diseño TriFast</title>
</head>

<body>

  <nav class="navbar navbar-light navbar-expand-md py-3"
    style="color: var(--bs-navbar-color);background: var(--bs-blue);border-bottom-color: black;">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <span>...</span>
      </a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-3"></button>
      <div id="navcol-3" class="collapse navbar-collapse">
        <div class="container" style="max-width: 700px;">
          <div class="row">
            <div class="col-md-12">
              <div data-reflow-type="product-search">
                <div class="reflow-product-search">
                  <div class="ref-input-wrapper">
                    <input class="ref-search" type="text" inputmode="search" placeholder="Search Products" />
                    <span class="ref-cancel-search" style="display: none;"></span>
                  </div>
                  <div class="ref-button" type="submit" style="display: none;">Search</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="button">Log In</button>
    </div>
  </nav>

  <div id="carousel-1" class="carousel slide" data-bs-ride="false"
    style="margin-top: 5vw;margin-right: 15%;margin-left: 15%;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image"
          width="1307" height="430" /> </div>
      <div class="carousel-item">...</div>
      <div class="carousel-item">...</div>
    </div>
    <div>
      <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"> <span
          class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <ol class="carousel-indicators">...</ol>
  </div>
  <div class="container productos" style="margin-top: 5vw;">
    <div class="row">
      <div class="col col categoria" style="margin: 0.5em;">ffsdf</div>
      <div class="col col categoria" style="margin: 0.5em;">asdfasdf</div>
      <div class="col col categoria" style="margin: 0.5em;">asdfasdf</div>
      <div class="col col categoria" style="margin: 0.5em;">asdfasfd</div>
    </div>
    <div class="row">
      <div class="col col categoria" style="margin: 0.5em;">asdfasfd</div>
      <div class="col col categoria" style="margin: 0.5em;">asdfasdf</div>
      <div class="col col categoria" style="margin: 0.5em;">asdfasdf</div>
      <div class="col col categoria" style="margin: 0.5em;">asfdasdf</div>
    </div>
  </div>

  <footer class="text-center bg-dark" style="margin-top: 5vw;">
    <div class="container text-white py-4 py-lg-5">
      <ul class="list-inline">...</ul>
      <ul class="list-inline">...</ul>
      <p class="text-muted mb-0">Copyright © 2023 Brand</p>
    </div>
  </footer>

</body>
<app-products></app-products>
</html>
