<div class="alert alert-danger" *ngIf="showAlert">
  {{message}}
</div>
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Inicia Sesión</h2>
            <form (submit)="logIn()">

              <div class="form-outline mb-4">
                <input type="email" name="email" id="form3Example3cg" [(ngModel)]="usuario.email"
                  class="form-control form-control-lg" placeholder="example@gmail.com"/>
                <label class="form-label" for="form3Example3cg">Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" name="password" id="form3Example4cg" [(ngModel)]="usuario.password"
                  class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cg">Contraseña</label>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit"
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Enviar</button>
              </div>

              <p class="text-center text-muted mt-5 mb-0">Todavía no tiene una cuenta? <a href="/signup"
                  class="fw-bold text-body"><u>Sign Up</u></a></p>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
