<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Tienda</th>
        <th>id</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          <div class="d-flex align-items-center">
            <img
                src="{{product.img}}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{product.nombre}}</p>
            </div>
          </div>
        </td>
        <td>
            <p class="fw-bold mb-1">{{product.precio}}</p>
        </td>
        <td>
            <a class="fw-normal mb-1" href="{{product.link}}">{{product.tienda}}</a>
        </td>
        <td><a class="fw-normal mb-1" href="/producto/detalles/{{product.id_producto}}">{{product.id_producto}}</a></td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="stopFollow(product.id_producto)">
            <svg style="color: rgb(0, 0, 0);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" fill="#000000"></path> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" fill="#000000"></path> </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>